@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body, div, input, textarea, span {
	font-family: 'Nanum Gothic';
}

ul.tabs {
	margin: 0 auto;
	padding: 0;
	float: left;
	list-style: none;
	height: 54px;
	width: 100%;
	font-size: 12px;
	position: fixed;
  background: #fff;
  box-shadow: 0px 1px 5px #333;
  z-index: 99;
}

ul.tabs li {
	float: left;
	text-align: center;
	cursor: pointer;
	width: 89px;
	line-height: 72px;
	overflow: hidden;
	position: relative;
	font-size: 13px;
}

.tab_container {
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #FFFFFF;
}

.tab_content {
	font-size: 12px;
	display: none;
	text-align: center;
}

.tab_container .tab_content ul {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.tab_container .tab_content ul li {
	padding: 5px;
	list-style: none
}

;
#container {
	width: 249px;
	margin: 0 auto;
}