html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 100%; }
body { margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 100%; background-color: #1a1d24; }
header { height: 60px; width: 100%; position: absolute; top: 0px; z-index: 10; }
aside { position: absolute; padding-top: 60px; background-color: #232730; border: 0px solid #000000; -moz-box-sizing: border-box; /* Firefox  */ -webkit-box-sizing: border-box; /* Safari */ box-sizing: border-box; /* CSS3 Standard */ height: 100%; z-index: 1; }
#content { padding: 80px 0 0 340px; }
.content-text { color: #a3aab4; font-size: 30px; margin-top: 15px; margin-left: 25px; }
.graph { max-width: 550px; margin-left: 30px; margin-top: 20px; }
.graph-mau { max-width: 620px; }
.traffic { max-width: 600px; }