/* ir */
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 100%; }
body { overflow: hidden; margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 100%; background-color: #1a1d24; padding-bottom: 100px; }
header { height: 60px; width: 100%; position: absolute; top: 0px; z-index: 10; }
aside { position: absolute; padding-top: 60px; background-color: #232730; border: 0px solid #000000; -moz-box-sizing: border-box; /* Firefox  */ -webkit-box-sizing: border-box; /* Safari */ box-sizing: border-box; /* CSS3 Standard */ height: 100%; z-index: 1; }
#content { padding: 80px 30px 0 340px; overflow-y: auto; max-height: 100%; }
.content-text { color: #a3aab4; font-size: 30px; margin-top: 15px; margin-left: 25px; }
.graph { max-width: 650px; margin-left: 30px; margin-top: 20px; }
.graph-mau { max-width: 620px; }
.traffic { max-width: 600px; }
/* ir */

/* header */
#title-bar { background-color: #1f232c; height: 60px; padding-left: 35px; line-height: 60px;}
#mLogoBtn > img { width: 135px; vertical-align: middle; }
#mMenuBtn { float: right; right: 15px; position: relative; }
#m_m_btn { display: none; }
/* header */

@media (max-width: 1199px) {
	.aside-move { left: 0px; }
	#title-bar { height: 50px; line-height: 45px; }
}

@media (max-width: 1023px) {
	.aside-move { left: -360px; }
	#title-bar { padding-left: 25px; }
	#mLogoBtn > img { width: 110px; }
	#content { padding: 70px 0 0 40px; }
	#menu-bar { min-height: 900px; }
	#mMenuBtn { top: 12px; }
	#m_m_btn { display: block; width: 23px; }
  .graph { max-width: 600px; margin-left: 0; margin-top: 20px; }
  .content-text { margin-top: 10px; margin-left: 10px; }
  .content-text { font-size: 24px; }
}

@media (max-width: 767px) {
	#title-bar { padding-left: 25px; }
	#content { padding: 65px 0 0 20px; }
	#mMenuBtn { top: 12px; }
	
}

@media (max-width: 639px) {
	#title-bar { padding-left: 15px; }
	#content { padding: 65px 0 0 0; }
	body { padding-bottom: 75px; }
}
