#title-bar { background-color: #1f232c; height: 60px; padding-left: 35px; line-height: 60px;}
#mLogoBtn > img { width: 135px; vertical-align: middle; }
#mMenuBtn { float: right; right: 10px; position: relative; }

